[Unit]
Description=Derby Timer Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/finishline/derby_race.py > /var/log/derby_race.log 2>&1

[Install]
WantedBy=multi-user.target